[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
six = "*"
e1839a8 = {editable = true,path = "."}

[requires]
python_version = "3.6"

[scripts]
printspam = "python -c \"print('I am a silly example, no one would need to do this')\""
